{% extends 'base.html.twig' %}

{% block title %}Hello IngredientController!{% endblock %}

{% block body %}
    <h1>Zutaten</h1>


    <data-table
            api-url="{{ path("ingredients_index") }}"
            sort-by="name"
            :sort-desc="false"
            :per-page="5"
            :fields="[
                        {key: 'name', label: 'Name', sortable: true},
                        {key: 'price', label: 'Preis', sortable: true},
                        {key: 'options', label: 'Optionen', sortable: false, class:'options'}
                    ]">
    </data-table>


    <a href="{{ path("ingredients_new") }}">Neue Zutat hinzufügen</a>
    <a href="{{ path("index") }}">Zurück zum Hauptmenü</a>
{% endblock %}
