{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <h1>Hello@PizzaPete's! ✅</h1>
    <span> {{ '{{' }} test {{ '}}' }}</span>
    <a href="{{  route }}"

{% endblock %}
