{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Hello@PizzaPete's!</h1>
    <ul>
        <li><a href="{{  path('ingredients_index') }}">Zutaten</a></li>
        <li><a href="{{  path('recipe_index') }}">Rezepte</a></li>
        <li><a href="{{  path('pizza_index') }}">Pizzen</a></li>
    </ul>
{% endblock %}
